/*
 * @Author: Li Hong (lh.work@qq.com) 
 * @Date: 2019-12-25 08:43:51 
 * @Last Modified by: Li Hong (lh.work@qq.com)
 * @Last Modified time: 2020-01-12 14:23:09
 */


body {
    position: relative;
    background-color: #fff;
    color: #888;
    font-family: Helvetica;
    line-height: 26px;
    margin: 0px;
    overflow: hidden;
}

