#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#pogress-out{
    position: relative;
    width: 388px;
    height: 448px;
    background-image: url('https://3dapp.oss-cn-shenzhen.aliyuncs.com/NspChiliExhibition/image/others/loading.jpg');
    background-position: center;
    background-size: cover;
    padding: 0px;
}

#progres-fill{
    position: absolute;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color:white;
}

#progress-text{
    margin-top: 8px;
    color: black;
    font-weight: bold;
    text-align: center;
}

#video{
    display: none; 
    left: 0px; top: 0px;
}