#steering-wheel{
    padding: 0px;
    position: absolute;
    z-index: 99999;
    background-color: rgba(24, 102, 218, 0.619);
    margin-left: 10px;
    margin-top: 10px;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#steering-wheel-dot{
    width: 60px;
    height: 60px;
    background-color: rgba(94, 255, 0, 0.783);
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/left */
    position: absolute;
    /* border-radius: 30px; */
}   