#ui {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 8, 8, 0.331);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#pogress-out{
    width: 90%;
    height: 40px;
    border-width: 1px;
    border-color: white;
    background-color: rgba(245, 243, 243, 0.475);
    padding: 0px;
}

#progres-fill{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 0px;
    background-color: rgba(125, 214, 46, 0.886);
}

#progress-text{
    margin-top: 8px;
    color: white;
    font-weight: bold;
    text-align: center;
}

#video{
    display: none; 
    left: 0px; top: 0px;
}